html{
    background: rgb(0,29,36);
background: linear-gradient(90deg, rgba(0,29,36,1) 0%, rgba(16,121,9,1) 95%);
}
input[type="radio"] {
    display: inline-block;
    margin: auto;
}
input[type="button"], input[type="submit"], button{
        display: inline-block;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        padding: 10px 20px;
        border: none;
        -webkit-border-radius: 22px;
        border-radius: 22px;
        font-family: 'Roboto', sans-serif;
    color: white;
        -o-text-overflow: clip;
        text-overflow: clip;
        background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 11%, rgba(0,212,255,1) 100%);
        -webkit-box-shadow: 0 0 0 0 rgba(0,0,0,0.2) inset;
        box-shadow: 0 0 0 0 rgba(0,0,0,0.2) inset;
        text-shadow: 1px 1px 0 rgba(255,255,255,0.66) ;
        -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
        -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
        -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
        transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}
body {
    background-color: gainsboro;
}
#welcomeImage{
    position: absolute;
    border-radius: 5%;
    right: 10vw;
}
input{
    height: 5vh;
    border: none;
    border-radius: 5px;
    text-align: center;
    background-color: rgba(255,255,255,0.7);
}
::placeholder{
    opacity: 1;
    color: black;
    font-size: 15px;
}
#orgLogin{
    position: absolute;
    left: 20vw;
    top: 45vw;
}
stuLogin{
    position: absolute;
    left: 20vw;
    top: 45vw;
}