<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js" integrity="sha512-E8QSvWZ0eCLGk4km3hxSsNmGWbLtSCSUcewDQPQWZF6pEU8GlT8a5fF32wOl1i8ftdMhssTrF/OhyGWwonTcXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="style/style.css">
  <script>
    function register(){
      document.getElementById("formDivLogin").style.display = "none";
      document.getElementById("formDivRegister").style.display = "block";
    }
    function login(){
      document.getElementById("formDivLogin").style.display = "block";
      document.getElementById("formDivRegister").style.display = "none";
    }
    function userReg(){
      var regEmail = document.getElementById("regEmail").value;
      var regpsw = document.getElementById("regpsw").value;
      var regpswCheck = document.getElementById("regpswCheck").value;
      var age = document.getElementById("age").value;
      var regint = document.getElementById("regint").value;
      if(regpsw != regpswCheck){
        document.getElementById("regEmail").value = "";
        document.getElementById("regpsw").value = "";
        document.getElementById("regpswCheck").value = "";
        document.getElementById("age").value = "";
        document.getElementById("regint").value = "";
        document.getElementById("pswNotMatch").style.display = "block";
      }
      else{
        //encrypt password 
        var pass = document.getElementById("regpsw").value;
        var hash = CryptoJS.MD5(pass);
        var regData = [{ "email": regEmail, "password": hash, "age": age}];
        //send registration information
        url = "https://api.github.com/users/"+username+"/repos";
        $.ajax({
    type: "POST",
    url: url,
    dataType:"json",
    data: {regData: JSON.stringify(markers)},
    success: function(response){
        //if request if made successfully then the response represent the data

        console.log(response);
    }
  });
      }
    }
    function hideMsg(){
      document.getElementById("pswNotMatch").style.display = "none";
    }
  </script>
</head>
<body>
<h1 style="text-align:center;">Младежки хъб</h1>
<div id="description"><h2>Възможности, изживявания и запознанства<br/> на една ръка растояние.<br/>
Регистрирате се и изберете следващото си приключение!
</h2></div>
<img id="welcomeImage" src="style/students.jpeg">
<div id="formDivLogin">
<form action="#" th:action="@{/submit}" method="post"  th:object="${logger}">
  
    <div class="container">
      <input type="text" placeholder="Email" id="email" name="email" style="width: 50%;
      margin-top : 10%" required th:field="*{email}"><br/>
  
      <input type="password" placeholder="Парола" id="psw" name="psw" style="width: 50%;
      margin-top : 10%" required th:field="*{password}"><br/>
  
      <button type="submit" style="width: 50%;
      margin-top : 5%">Вход</button>
    </div>
  </form>
  <button onclick="register()" style="position: relative; width: 50%;
  bottom: -30%">Регистрация</button>
  </div>
<td th:switch="${loginAuth}">
    <span th:case="false">NO COURSES YET!</span>
    <span th:case="'1'" th:text="${teacher.courses[0]}"></span>
    <div th:case="*">
        <div th:each="course:${teacher.courses}" th:text="${course}"/>
    </div>
</td>
  <div id="formDivRegister" style="display: none;">
    <form action="#" th:action="@{/submit}" method="post"  th:object="${org}">
      
        <div class="container">
          <input type="text" placeholder="Email" id="regEmail" name="email" style="width: 50%;
          margin-top : 2%" required th:field="*{email}" class="form-control"><br/>
      
          <input type="password" placeholder="Парола" id="regpsw" name="psw" style="width: 50%;
          margin-top : 2%" required th:field="*{password}" class="form-control"><br/>

          <input type="password" placeholder="Повтори парола" id="regpswCheck" name="pswCheck" style="width: 50%;
          margin-top : 2%" required th:field="*{passwordCheck}" class="form-control"><br/>

          <input type="number" placeholder="възраст" name="age" id="age" style="width: 50%;
          margin-top : 2%" required th:field="*{age}" class="form-control"><br/>
          
          <input type="text" placeholder="интереси" name="regint" id="regint" style="width: 50%;
          margin-top : 2%" required th:field="*{regint}" class="form-control"><br/>

<div>
  <input type="radio" id="org" name="org" value="org">
  <label for="org">Аз съм организация</label>
</div>
      
          <button onclick="userReg()" style="width: 50%;
          margin-top : 2%">Регистрация</button>
        </div>
      </form>
      <button onclick="login()" style="position: relative; width: 50%;
  bottom: -5%">Вход</button>
      </div>
      <div id="pswNotMatch">
        Паролите не съвпадат<br/>
        <button onclick="hideMsg()">OK</button>
      </div>
</body>
</html>
