<!DOCTYPE html>
<html>
<head>
    <script src="https://code.jquery.com/jquery-3.6.3.slim.min.js" integrity="sha256-ZwqZIVdD3iXNyGHbSYdsmWP//UBokj2FHAxKuSBKDSo=" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js" integrity="sha512-E8QSvWZ0eCLGk4km3hxSsNmGWbLtSCSUcewDQPQWZF6pEU8GlT8a5fF32wOl1i8ftdMhssTrF/OhyGWwonTcXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../style/style.css">
    <script>
    function profileData(){
        document.getElementById("profile").style.display = "block";
        document.getElementById("filter").style.display = "none";
    }
    function showFilters(){
        document.getElementById("filter").style.display = "grid";
        document.getElementById("profile").style.display = "none";
    }
    function saveProfileEdit(){
      document.getElementById("filter").style.display = "none";
        document.getElementById("profile").style.display = "none";
    }
    function applyFilter(){

    }
    let posts = "[[${posts}]]";

    // Iterate over the list of posts
    for (let i = 0; i < posts.length; i++) {
      let post = posts[i];

      // Create a new HTML element for the post
      let postElement = document.createElement("div");
      postElement.innerHTML = `
      <div style="background-color: gree; width: 10vw; height: 20vh;">
        <h2>${post.name}</h2>
        <p>${post.category}</p>
        <p>${post.organisation}</p>
        <p>${post.description}</p>
        <p>${post.location}</p>
        <p>${post.type}</p>
      </div>
      `;

      // Add the post element to the page
      document.getElementById("posts").appendChild(postElement);
    }

  </script>
</head>
<body>
<div id="navBar">
    <img id="search" src="../static/style/search.png" onclick="showFilters()">
    <img id="glyph" src="../static/style/glyph.png" onclick="profileData()">
</div>
<div id="contentType">

</div>
<div id="filter">
    <div id="location"></div>
    <label for="location">Местоположение</label>
    <select>
        <option value="онлайн">онлайн</option>
        <option value="чужбина">чужбина</option>
        <option value="варна">варна</option>
        <option value="софия">софия</option>
    </select>
    <div id="field"></div>
    <label for="location">Сфера</label>
    <select>
        <option value="онлайн">ИТ</option>
        <option value="чужбина">Събития</option>
        <option value="варна">Екскурзии</option>
        <option value="софия">Обучение</option>
    </select>
    <div id="type"></div>
    <div id="duration"></div>
    <button id="completeEdit" onclick="applyFilter()">Търси</button>
</div>
<div id="profile">
    <div id="picture"></div>
    <div id="otherInfo">
        <span id="greeting"></span>
        <span id="labelPer">Лична описание</span>
        <textarea id="personal" name="persaonal"
                  rows="5" cols="33">
</textarea><br/>
        <span id="labelInt">Интереси</span>
        <textarea id="interests" name="interests"
                  rows="5" cols="33">
</textarea><br/>
        <span id="ageSl">възраст</span>
        <input type="range" id="ageSlider" min="13" max="90" value="50" oninput="this.nextElementSibling.value = this.value"><output id="selAge">50</output>
    </div>
    <button id="completeEdit" onclick="saveProfileEdit()">Запиши</button>
</div>
<div id="posts">
    <!-- Placeholder for the list of posts -->
</div>
</body>
</html>